<html>
	<head>
		<title>CawPaw Addition</title>
	</head>
<body>

	<h1>CawPaw: Addition</h1>

<form action="/add/" method="POST">
	First Number: <input type='text' name='firstnum'>
	<br>
	Second Number: <input type='text' name='secondnum'>
	<br>
	<input type="submit">
</form>

</body>
</html>
