Welcome to CawPaw: A tool for seeing basic math in action!

<%
	quick_nav = [
		['Add','/add', 'Addition'],
		['Subtract','/subtraction', 'Subtraction'],
		['Multiply', '/multiplication', 'Multiplication']
]	
%>

<ul id"quickNav">
	<% quick_nav.each do |item| %>
	<li><a href="<%= item[1] %>" title="<%= item[2] %>"><%=item[0]%></a></li>
<% end %>
