<html>
	<head>
		<title>CawPaw Multiplication</title>
	</head>
<body>

	<h1>CawPaw: Multiplication</h1>

<form action="/multiplication" method="POST">
	First Number: <input type='text' name='firstnum'>
	<br>
	Second Number: <input type='text' name='secondnum'>
	<br>
	<input type="submit">
</form>

<%
	quick_nav = [
	['Home','/','Back to home'],
]	
%>

<ul id"quickNav">
	<% quick_nav.each do |item| %>
	<li><a href="<%= item[1] %>" title="<%= item[2] %>"><%=item[0]%></a></li>
<% end %>

</body>
</html>
